 @page
@model GamingSite.Pages.GameModel
@{

        ViewData["Title"] = "Game Page";
}

<div class="text-center">
    <h1 class="display-4"> @Model.game.Title</h1>
    </div>
<div> 
    <img class="" src="@Model.game.Image" width="1325" height="300">
     
    <p>
        
    </p>
    <b>
    @Model.game.Title
    </b>
    <p></p>
    <p>
    <b>Developed by:@Model.game.maker</b>
    </p>
<b>
 <em>
 @Model.game.Description
 </em>
</b>
<p></p>
</div>
 
<div class="card mb-3">
  <img src="@Model.game.Image" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">@Model.game.Title</h2>
    <p class="card-text">
        <small class="text-muted">Developed by: @Model.game.maker</small>
    </p>
    <p class="card-text">@Model.game.Description</p>
    
  </div>
</div> 
