@page
@model GamingSite.Pages.GameModel
@{

    ViewData["Title"] = "Game Page";

}

<div class="card mb-3">
   
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel " >
      <div class="carousel-inner">
          @foreach (var image in Model.game.Images)
{
                <div class="carousel-item @(Model.game.Images.IndexOf(image)!=0? "":"active")" data-bs-interval="2000">
                    <img src="@image " class="d-block " alt="" style="width:50%; margin:auto">
        </div>

}
      
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="card-body">
        <h2 class="card-title">@Model.game.Title</h2>
        <p class="card-text">
            <small class="text-muted">Developed by: @Model.game.Maker</small>
        </p>
        <p class="card-text">@Model.game.Description</p>
        <p></p>
        <p></p>
        <b>Trailer:</b>
        <p></p>
        <iframe width="560" height="315" src="@Model.game.Trailer" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

           <p></p>
           <p></p>

        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  More info!
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Info Source:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
     More info for games:https://www.fandom.com/
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    </div>
</div>
